In [1]:
import pandas as pd
from scipy.stats import chi2_contingency

In [2]:
df = pd.read_csv('/content/bat.csv')
df.head()

,Player,Team,Type,M,Inn,NO,Runs,HS,Avg,BF,SR,4s,6s,50,100,200
0,Virat Kohli,India,IPL,192,184,30,5878,113,38.17,4496,130.74,503,201,39,5,0
1,Rohit Sharma,India,IPL,200,195,28,5230,109,31.32,4004,130.62,458,213,39,1,0
2,Shikhar Dhawan,India,IPL,176,175,23,5196,106,34.18,4096,126.86,591,108,41,2,0
3,Shubman Gill,India,IPL,41,38,10,939,76,33.54,750,125.20,87,24,7,0,0
4,Shreyas Iyer,India,IPL,79,79,9,2200,96,31.43,1745,126.07,189,83,16,0,0

In [3]:
df['Type'].unique()

array(['IPL', 'ODI', 'T20', 'Test'], dtype=object)

In [5]:
type_grp = df.groupby(['Type'])

In [7]:
type_grp['Team'].value_counts().loc['IPL']

Team
Australia       26
India           26
England         20
Ireland         16
Zimbabwe        16
Afghanistan     15
New-Zealand     15
Sri-Lanka       15
West-Indies     15
Bangladesh      14
Pakistan        14
South-Africa    14
Name: Team, dtype: int64

In [9]:
type_grp['Team'].value_counts().loc['Test']

Team
Australia       26
India           26
England         20
Ireland         16
Zimbabwe        16
Afghanistan     15
New-Zealand     15
Sri-Lanka       15
West-Indies     15
Bangladesh      14
Pakistan        14
South-Africa    14
Name: Team, dtype: int64

In [10]:
type_grp['Team'].value_counts().loc['ODI']

Team
Australia       26
India           26
England         20
Ireland         16
Zimbabwe        16
Afghanistan     15
New-Zealand     15
Sri-Lanka       15
West-Indies     15
Bangladesh      14
Pakistan        14
South-Africa    14
Name: Team, dtype: int64

We can select the above 3 FORMATS and the teams as India and Australia. The null hypothesis is that there is no relation between the format and the corresponding teams . The alternative hypothesis can be that there is a relation or that they are not independent.

In [11]:
data = [[8, 4], [7, 6], [1, 2]]

In [12]:
test_statistic, p_value, dof, expected_freq = chi2_contingency(data)

In [13]:
print(f'Test Statistic - {test_statistic}\nP-Value - {p_value}\nDegrees of Freedom - {dof}')

Test Statistic - 1.1965811965811968
P-Value - 0.5497505779286571
Degrees of Freedom - 2

In [14]:
alpha = 0.05
if p_value <= alpha:
    print('Reject null hypothesis')
else:
    print('Fail to reject null hypothesis')

Fail to reject null hypothesis

Thus, we can conclude that the teams   of differents countries  is independent  of the format