In [1]:
import numpy as np
import scipy.stats as st

**z test**

In [2]:
#H0 : μ = 46, Ha :  μ > 46
n = 30
xbar = 48.6
mu = 46
sigma = 4.2
alpha = 0.05

In [4]:
z_critical = abs(st.norm.ppf(alpha))
z_critical

1.6448536269514729

In [5]:
z = (xbar-mu)/(sigma/np.sqrt(n))
z

3.3906634512224585

In [6]:
if (z < z_critical): #Right-tailed test
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Reject null hypothesis

**p**

In [7]:
p_val = (1 - st.norm.cdf(abs(z))) * 2
p_val

0.0006972366404673913

In [8]:
if (p_val > alpha):
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Reject null hypothesis

**t test**

In [9]:
#H0 : μ = 16.3, Ha : μ != 16.3
n = 10
degrees_of_freedom = n-1
xbar = 17.7
mu = 16.3
s = 1.8
alpha = 0.05

In [10]:
t = (xbar - mu)/(s / np.sqrt(n))
t

2.4595492912420704

In [11]:
t_critical = st.t.ppf(alpha/2, degrees_of_freedom)
t_critical

-2.262157162740992

In [12]:
if (abs(t) > abs(t_critical)): #Absolute value taken as the it's a two-tailed test and the original t_critical value might be negative
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Null hypothesis cannot be rejected

**t test using p**

In [16]:
#H0 : μ = 36.7, Ha : μ > 36.7
n = 15
degrees_of_freedom = n-1
xbar = 40.6
mu = 36.7
s = 6
alpha = 0.05

In [17]:
t = (xbar - mu)/(s / np.sqrt(n))
t

2.51743917503482

In [18]:
p_val = (1 - st.t.cdf(abs(t), degrees_of_freedom)) #"1 - cdf" because it's a right-tailed test
p_val

0.012311189053656801

In [22]:
if (p_val > alpha):
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Reject null hypothesis